@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Fixed="true" Elevation="0">
        <div class="cursor-pointer" @onclick="OnClickHome">
            <MudText>Employment Agency Web Shop</MudText>
        </div>

        <MudSpacer />

        <LoginAppBarDisplay></LoginAppBarDisplay>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

