@page "/"

<AuthorizeView>
    <Authorized>

    </Authorized>

    <NotAuthorized>
        <EditForm Context="formContext" Model="signInDTO" OnValidSubmit="Submit">
            <DataAnnotationsValidator/>
            <MudTextField Label="Username" @bind-Value="signInDTO.UserName" For="@(() => signInDTO.UserName)"/>
            <MudTextField Label="Password" @bind-Value="signInDTO.Password" For="@(() => signInDTO.Password)" InputType="InputType.Password"/>

                <div class="d-flex justify-end gap-2">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" ButtonType="ButtonType.Submit">Login</MudButton>
                </div>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>
